@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;


.gallery{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: transparent;
    height: 70vh;
    

    &__image{
        width: 100%;
        background: url('../../assets/desktop/image-gallery-milkbottles.jpg') no-repeat center;
        background-size: cover;
        
        
        &2{
            background: url('../../assets/desktop/image-gallery-orange.jpg') no-repeat center;
            background-size: cover;
        }

        &3{
            background: url('../../assets/desktop/image-gallery-cone.jpg') no-repeat center;
            background-size: cover;
        }

        &4{
            background: url('../../assets/desktop/image-gallery-sugarcubes.jpg') no-repeat center;
            background-size: cover;
        }
    }
}

@media (max-width:768px){

.gallery{
    grid-template-columns: repeat(2,1fr);
    
    &__image{
        width: 100%;
        background: url('../../assets/mobile/image-gallery-milkbottles.jpg') no-repeat center;
        background-size: cover;
        
        &2{
            background: url('../../assets/mobile/image-gallery-orange.jpg') no-repeat center;
            background-size: cover;
        }

        &3{
            background: url('../../assets/mobile/image-gallery-cone.jpg') no-repeat center;
            background-size: cover;
        }

        &4{
            background: url('../../assets/mobile/image-gallery-sugar-cubes.jpg') no-repeat center;
            background-size: cover;
        }
    }
} 
}