@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.home{
    width: 100vw;
    height: 100vh;
    background: url('../../assets/desktop/image-header.jpg') no-repeat;
    background-size: cover;
    @include mixin.flex(center,center,column);
   

    &__h3{
        font-size: 7rem;
        font-family: vars.$font-two;
        font-weight: 700;
        color: vars.$white;
    }

    &__img{
        width: 2rem;
        margin-top: 11rem;
        animation: arrowDown .8s infinite alternate;
        z-index: 1;
    }
}


@keyframes arrowDown {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(12px);
    }
}

@media (max-width:768px){
    .home{
        background: url('../../assets/mobile/image-header.jpg') no-repeat center;

        &__h3{
            font-size: 4rem;
            line-height: 4rem;
            text-align: center;
        }
    
        &__img{
            width: 1.5rem;
            margin-top: 2rem;
            animation: arrowDown .8s infinite alternate;
        }
    }
}