@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100vw;

    &__content{
        @include mixin.flex(flex-end,center,column);
        background: url('../../assets/desktop/image-graphic-design.jpg') no-repeat;
        
        height: 100vh;
        padding: 0 5rem;

        &:nth-child(2){
            background: url('../../assets/desktop/image-photography.jpg') no-repeat;
        }
    }

    &__texts{
       margin-bottom: 7rem;
    }


    &__h3{
        font-size: 2.5rem;
        font-weight: 700;
        font-family: vars.$font-two;
        color: vars.$dark-cyan;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__p{
        text-align: center;
        padding: 0 4rem;
        font-weight: 400;
        color: vars.$dark-cyan;
    }
}

@media (max-width: 768px){
    .projects{
        grid-template-columns: 1fr;
    
        &__content{
            @include mixin.flex(flex-end,center,column);
            background: url('../../assets/desktop/image-graphic-design.jpg') no-repeat center;
            background-size: cover;
            padding: 2rem 0;
    
            &:nth-child(2){
                background: url('../../assets/desktop/image-photography.jpg') no-repeat center;
                background-size: cover;
            }
        }
    
        &__texts{
           margin-bottom: 2rem;
        }
    
    
        &__h3{
            font-size: 1.5rem;
        }
    
        &__p{
            text-align: center;
            padding: 0 1rem;
            font-weight: 600;
            color: vars.$dark-cyan;
            font-size: .95rem;
        }
    }
}