@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.services{
    width: 100vw;
    
    &__content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    &__texts{
       @include mixin.flex(center,center,column);
       width: 100%;
       padding: 0 7rem;
    }

    &__h3{
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        margin-right: auto;
        font-family: vars.$font-two;
    }

    &__p{
        margin-top: 2rem;
        font-size: 1.1rem;
        color: vars.$dark-blue2;
    }

    &__a{
        font-size: 1.5rem;
        font-weight: 700;
        margin-right: auto;
        margin-top: 2rem;
        font-family: vars.$font-two;
        text-decoration: .3rem underline vars.$yellow;
        transition: .3s;
        &:hover{
            transform: scale(1.1);
            text-decoration: .3rem underline vars.$red;
        }
    }

    
    &__picture{
        height: 30rem;
    }

    &__img{
        height: 100%;
    }
}

@media (max-width:768px){
    .services{

        &__content{
            display: grid;
            grid-template-columns: 1fr;
        }
    
        &__texts{
           padding: 3rem;
           text-align: center;
        }
    
        &__h3{
            font-size: 2rem;
        }
    
        &__p{
            margin-top: 1.2rem;
            font-size: 1rem;
        }
    
        &__a{
            font-size: 1.1rem;
            margin-right: 0;
            margin-top: 1.4rem;
            margin-bottom: 2rem;
        }
    
        
        &__picture{
            height: 15rem;
            order: -1;
        }
    
    }
}